<div>
  <input type="text" placeholder="Enter task" [(ngModel)] = "newItem" (keyup)="$event.keyCode == 13 ? addNewItem() : null" (blur)="addNewItem()">
  <div *ngFor = "let item of items">
    <input type="checkbox" (click)="markCompleted(item)" [checked] = "item.completed"> 
    <span *ngIf="item.completed; else notCompleted"><del> {{item.title}} </del></span>
    <button (click)="confirmDelete(item)"> del </button>
    <ng-template #notCompleted>
      {{item.title}} 
    </ng-template>
  </div>
</div>